<aside
  class="flex flex-col w-40 h-screen px-5 py-8 overflow-y-auto bg-black border-r rtl:border-r-0 rtl:border-l dark:bg-gray-900 dark:border-gray-700"
>
  <a href="#">
    <img class="w-auto h-7" src="https://merakiui.com/images/logo.svg" alt="" />
  </a>
  <h3 class="text-white">GifsApp</h3>
  <hr />
  <div class="flex flex-col justify-between flex-1 mt-6">
    <nav class="-mx-3 space-y-6">
      <div class="space-y-3">
        <button
          class="px-6 py-2 font-medium tracking-wide text-black capitalize transition-colors duration-300 transform bg-white rounded-lg hover:bg-blue-500 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80"
        >
          Valorant
        </button>
      </div>
    </nav>
  </div>
</aside>
